
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
header{
    @include flexCenter;
    display: flex;
    height: 62px;
    width: 100%;
    background-color: $systemGrayDark2;
    .container{
        .row{
            .col-md-5.left{
                display: flex;
                padding: 0;
                ul{
                    margin: 0;
                    width: 100%;
                    list-style: none;
                    display: flex;
                    justify-content: space-around;
                    li{
                        
                        a{
                            line-height: 50px;
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
            }
            .col-md-2{
                display: flex;
                justify-content: center;
                .icon_cover{
                    display: block;
                    
                }
            }
            .col-md-5.right{
                display: flex;
                margin: auto;
                .container{
                    .row{
                        .col-md-10{
                            display: flex;
                            margin: 0;
                            // background-color: aqua; 
                            .icon{
                                // background-color: blueviolet;
                                // text-align: center;
                                cursor: pointer;
                                display: flex;
                                margin: auto;
                                justify-content: center;
                                color: white;  
                                width: 100%;

                                i.gg-search{
                                    display: block;
                                    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
                                }

                                input{
                                    display: none;
                                    width: 100%;
                                    background-color: transparent;
                                    color: white;
                                    width: 300px;
                                    outline: none;
                                    border: none;
                                    border-top: $wooden2 1px solid;
                                    border-bottom: $wooden2 1px solid;
                                    text-align: center;

                                }     

                            }
                        }
                        .col-md-2{
                           
                            .icon{
                                cursor: pointer;
                                display: flex;
                                margin: auto;
                                justify-content: center;
                                color: white;  
                                width: 100%;
                            }
                        }
                    }
                }
                
            }
        }
    }
}
