$wooden1: #97A69C;
$wooden2: #bf5d24;
$wooden3:#a77950;
$wooden4:#736055;
$wooden5:#D9C4B8;
$wooden-black:#0D0D0D;
$wooden-light:#F4F2F1;

$color: #fff;

$systemBlue : #007aff;
$systemGreen : #34c759;
$systemIndiago : #5856d6;
$systemOrange : #ff9500;
$systemPink : #ff375f;
$systemPurple : #af52de;
$systemRed : #ff3b30;
$systemRedas :#ff6961;
$systemTeal : #64d2ff;
$systemYellow : #ffd60a;

$systemGrayLight : #8e8e93;
$systemGrayLight1 : #aeaeb2;
$systemGrayLight2 : #c7c7cc;
$systemGrayLight3 : #d1d1d6;
$systemGrayLight4 : #e5e5ea;
$systemGrayLight5 : #f2f2f7;

$systemGrayDark : #8e8e93;
$systemGrayDark1 : #636366;
$systemGrayDark2 : #48484a;
$systemGrayDark3 : #3a3a3c;
$systemGrayDark4 : #2c2c2e;
$systemGrayDark5 : #1c1c1e;

//Vars 
:root {
    --rad: 5px;
    --dur: .3s;
    --color-dark: white;
    --color-light: #aeaeb2  ;
    --color-brand: #57bd84;
    --font-fam: 'Lato', sans-serif;
    --height: 40px;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
  }
  