
<footer class="fixed-bottom">
    <div class="container ">
        <div class="row">
            <div class="col-md-3">
                <h6> Tìm cửa hàng</h6>
                <a href="">tìm cửa hàng gần nhất</a><br>
                <a href="">Mua hàng từ xa</a>
                <h6>Phương thức thanh toán</h6>
                <a href="">Momo</a><br>
                <a href="">viettelPay</a>
            </div>
            <div class="col-md-3 ">
                <a href="tel:+84335670934">Gọi mua hàng :0335670934</a><hr>
                <h6 >Kênh truyền thông</h6>
                <div class="row">
                    <div class="col-lg-3" >
                        <link href='https://css.gg/youtube.css' rel='stylesheet'>
                        <a href="https://www.youtube.com/channel/UCnplR714QjVB5h4xIEx5VKw">
                            <div class="icon-cover">
                                <i class="gg-youtube social-icon"></i>
                            </div>
                            <span>YouTube</span>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <link href='https://css.gg/facebook.css' rel='stylesheet'>
                        <a href="https://www.facebook.com/1011.chibao">
                            <div class="icon-cover">
                                <i class="gg-facebook"></i>
                            </div>
                            <span>Facebook</span>   
                        </a>
                    </div>
                    <div class="col-lg-3">
                        
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
            <div class="col-md-3">
                <a href="">Tra Thông tin bảo hành</a><br>
                <a href="">Tra điểm MasterPoint</a>
            </div>
            <div class="col-md-3">
                <a href="">Quy chế hoạt động</a><br>
                <a href="">Chính sách bảo hành</a>
            </div>
        </div>
    </div>
</footer>